* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex-container {
  width: 100%;
  margin: 0 auto;
}

/* image section */

.background {
  background-image: url("images/jon-tyson-kctt4tL1dkE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-color: grey;
  background-blend-mode: multiply;
}

.flex-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.top-title {
  color: #f18119;
  font-size: 10px;
  text-transform: uppercase;
  border-top: 8px solid #f18119;
}

h1 {
  color: #ffffff;
  font-size: 36px;
  text-align: center;
}

.bottom-title {
  color: #f18119;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 21px;
}

/* image section */

/* text section */

.text-section {
  height: 100%;
  margin-top: 50px;
}

.text-width {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

h3 {
  font-size: 21px;
  color: #404040;
}

.register-sub-title {
  font-size: 16px;
  color: #f18119;
  margin-bottom: 1.5rem;
}

.main-page-paragraph {
  font-size: 16px;
  color: #b3b2b2;
  margin-bottom: 1.5rem;
}

input {
  width: 70%;
  padding: 15px 25px;
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 15px;
}

.register-button {
  width: 70%;
  padding: 15px 25px;
  background: linear-gradient(#ff713b, #ff713b);
  margin-bottom: 1.2rem;
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.privacy-paragraph {
  color: #989898;
  font-size: 12px;
}

/* text section ends */
